.board {
    width: 20rem;
    height: 5rem;
    border: 3px black solid;
    background-color: rgba(186, 140, 99, 1);
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 37.625rem;

    &.small {
        width: 5rem;
    }

    button {
        width: fit-content;
        margin: auto;
        font-size: 1.5rem;
        border: 1px black solid;
        border-radius: 5px;
        color: black;
        background-color: white;

        &:hover {
            color: white;
            background-color: black;
        }
    }
}

.brush {
    border: 3px black solid;
    height: 50px;
    width: 50px;
    margin: auto;
    background-color: black;
}

.pallete-row {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.color {
    width: 30px;
    height: 30px;
    border: 2px black solid;
    margin-left: 6px;
    margin-right: 6px;
    cursor :pointer;

    &.black {
        background-color: rgba(0, 0, 0, 1);
    }

    &.white {
        background-color: rgba(255, 255, 255, 1);
    }

    &.red {
        background-color: rgba(255, 0, 0, 1);
    }

    &.green {
        background-color: rgba(127, 255, 0, 1);
    }

    &.blue {
        background-color: rgba(0, 0, 255, 1);
    }

    &.orange {
        background-color: rgba(255, 145, 0, 1);
    }

    &.purple {
        background-color: rgba(138, 43, 226, 1)
    }

    &.yellow {
        background-color: rgba(255, 255, 0, 1);
    }
    
    &.indigo {
        background-color: rgba(75, 0, 130, 1);
    }

    &.pink {
        background-color: rgba(255, 0, 255, 1);
    }

    &.aqua {
        background-color: rgba(0, 255, 255, 1);
    }

    &.grey {
        background-color: rgba(111, 111, 111, 1);
    }

    &.brown {
        background-color: rgba(35, 23, 9, 0.5);
    }

    &.coffee {
        background-color: rgba(75, 55, 28, 1);
    }
}